.form {
  display: block;
  width: 300px;
  margin-left: 950px;
}

.label {
  color: #fff;
  margin-bottom: 5px;
  display: block;
  margin-top: 5px;
}

.input {
  color: #000;
  background: #fff;
  border: none;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
  margin-top: 15px;
}
