* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contaner {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  overflow: hidden;
  color: white;
}

.exdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  height: 80vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color:white;
}
