* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: rgb(189, 189, 189);
}
