*{margin:0;box-sizing: border-box;}
.home_aboutus{
  width:auto;
  height:100vh;
  background:#F0FFFF;
  text-align:center;
  margin-left:25px;
  margin-right:25px;
  
}
h1.heading{
  font-weight: 600;
}
div p{
  font-size: 15px;
}
button{
  background:#F0FFFF;
  border-radius: 5px;
  cursor: pointer;
  color:black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 
