*{margin:0;box-sizing: border-box;}
.home_aboutus{
  width:auto;
  height:100vh;
  
  text-align:center;
  margin-left:25px;
  margin-right:25px;
}
.paragraph{
  background: palegreen;
  display:flex;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  font-size:18px;
  font-weight:initial;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
div.sp{
  font-family:Arial, Helvetica, sans-serif;
}
h1.heading{
  font-weight: 600;
}
