* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rcc-page-heading {
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  margin-top: -200px;
}

.rcc-image-container {
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.rcc-page-container {
  display: flex;
  width: 70%;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(189, 189, 189);
  padding-top: 170px;
  padding-bottom: 170px;
}
