* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-page-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: rgb(209, 209, 209);
}

.image-container {
  display: flex;
  width: 60%;
  height: 40%;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.blog-paragraph {
  color: rgb(209, 209, 209);
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.author-name {
  color: rgb(209, 209, 209);
  margin-top: 10px;
  margin-bottom: 70px;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  display: flex;
  align-self: flex-end;
}

.author-name-container {
  width: 60%;
  display: flex;
}

@media only screen and (max-width: 1140px) {
  .blog-page-container {
    width: 90%;
  }
  .heading {
    font-size: 1rem;
  }
}
