* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-color: rgb(12, 12, 12);
  bottom: 0px;
}
.footer-content {
  width: 70%;
  height: 80%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.contributors {
  width: 70%;
  height: 10%;
  background-color: transparent;
}

.info {
  width: 45%;
  height: 90%;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-media-handles {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.contact-us {
  width: 45%;
  height: 90%;
  background-color: transparent;
}

.copyright {
  width: 100%;
  height: 10%;
  color: rgb(158, 158, 158);
  background-color: rgb(20, 20, 20);
  text-align: center;
  padding: 10px;
}

.contributors {
  background-color: rgb(20, 20, 20);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contributors a {
  text-decoration: none;
  color: rgb(158, 158, 158);
  margin-left: 5px;
  margin-right: 5px;
}

.contributors a:hover {
  color: rgb(236, 236, 236);
  margin-left: 5px;
  margin-right: 5px;
}
