.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.box {
  padding: 80px 60px;
  background: #222930;
  position: absolute;
  max-height: 50vh;
  bottom: 0;
  width: 100%;

  @media (max-width: 100px) {
    padding: 7px, 3px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.row {
  margin-bottom: -150px;
}
.heading1 {
  color: #4eb1ba;
  margin-top: -50px;
  font-size: 30px;
  margin-left: 50px;
}
.heading2 {
  color: #4eb1ba;
  margin-top: -15px;
  font-size: 30px;
  margin-left: 50px;
}

.para1 {
  color: #fff;
  margin-left: -198px;
  margin-top: -80px;
}

.copyright {
  color: #fff;
  margin-left: -210px;
  margin-top: 50px;
}
