* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pagecontent {
  margin-top: 1px;
  width: 70%;
  background-color: white;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.indoorimg {
  width: 60%;
  height: 70vh;
}
.indoorcontent {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
}
.outdorcontent {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
}
.naturalcontent {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
}
.outdoorimg {
  width: 60%;
  height: 70vh;
}
.naturalimg {
  width: 60%;
  height: 70vh;
}
